.banner{
    background:url(img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}


.mmbanner{
    background:url(img/CTA\ +\ Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.card{
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,7);
}
